<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My introduction</title>
    <link rel="stylesheet" href="static/style2.css">
    <script src="static/app.js"></script>
</head>
<body>
    <p>My name is {{name}}</p> 
    <p>  And my subject is {{subject}}</p>
    <h1>About myself </h1>
    <p>My name is saphal kafle and i live in mulpani
    </p>
    <footer><i>Rendered from index.html</i></footer>
</body>
</html>