<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <!-- <link rel="stylesheet" href="assets/style.css"> -->
</head>
<body>
    <h3>Login form</h3>
    <form action="/login" method="post">
        <input type="text" name="username" id="username" placeholder="Enter username"> <br> <br>
        <input type="password" name = "password" id ="password" placeholder="Enter password"> <br><br>

        <button type="submit">Submit</button>
    </form>
     
</body>
</html>