<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
</head>
<body>
    {{header | safe}}
    <h1>Welcome back {{name}}</h1>
    {% if name %}
        <h1>I hope you are doing good  {{name}}</h1>
    {% else %}
        <h1>Hello anonymous</h1>
    {%endif%}
    
    <ul>
        {% for friend in friends %}
            <li>
                {{friend}}
            </li>
        {% endfor %}
    </ul>
    
</body>
</html>